@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
footer.footer.text-center {
  font-family: "Roboto", sans-serif;
}
.legent {
  position: absolute;
  bottom: 80px;
  right: 0;
  z-index: 999;
  padding: 15px 25px;
  width: 242px;
  display: flex;
  flex-direction: column;
}
.colorbox {
  width: 40px;
  height: 40px;
  background-color: #f44336;
  border: 1px solid #121212;
}
.g-10 {
  gap: 20px;
}
.legent h4 {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
  color: #000;
  font-family: "Arial", sans-serif;
}
.color2 {
  background-color: blue;
}
.color3 {
  background-color: #ffff00;
}
.color4 {
  background-color: #4caf50;
}
.legend-title {
  font-weight: bold;
  font-size: 22px;
}
/*
 .logo-fiber img{
	 width: 125px;
	 cursor: pointer;
 }
 
 .login-page{
	 width: 100%;
 }
 .box-title {
	 color: #da1f60;
	 font-weight: 500;
 }
 .normal-font{
	 font-size: 12px;
 }
 .form-material .form-control{
	 background-color: #da467a21;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 12px;
 }
 .form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus {
 background-image: linear-gradient(#da91cc,#da1f6f),linear-gradient(#e9ecef,#e9ecef);
 }
 
 .auth-wrapper {
        min-height: auto;
}*/
/* body{
	font-family: "Arial";
} */

.bg-info {
  background-color: #40286a !important;
  background: linear-gradient(323.79deg, #0c7ab4 43.38%, #096494 92.17%);
  border-radius: 20px;
}
.bg-color {
  background: #40286a0f;
  padding: 15px;
}
.f-3 {
  font-size: 25px;
}

tbody td {
  font-size: 13px;
  line-height: 13px;
  color: #121212;
  font-weight: 500;
  padding: 8px 10px !important;
}

.table-dark {
  /* --bs-table-bg: #b6dba6;
  border-color: #ffffff;
  color: #000 !important; */
  --bs-table-bg: #40286a;
  border-color: #ffffff;
  color: #fff !important;
}

.center-margin {
  margin: 0 auto;
  position: absolute;
  top: -15px;
  border-radius: 15% !important;
  left: 5px;
}

.w-full .p-2 {
  width: 100%;
}

.w-full b {
  font-size: 14px;
  font-weight: 600;
  color: #121212;
}

.card .card-title {
  font-size: 16px;
  font-weight: 600;
}

.round {
  width: 30px;
  height: 30px;
}

.center-margin i {
  font-size: 14px;
}

.feather-sm {
  width: 14px;
  height: 14px;
}

.bg-custom {
  background: rgb(52 195 129);
}

.oh-text-blue:hover > b,
.oh-text-blue:focus > b {
  color: #009efb;
  transition: ease-in-out;
}

.w-full small {
  font-size: 11px;
}

.second-level {
  width: 320px !important;
}
.oh-text-blue.text-decoration-underline {
  border-radius: 2px;
  display: inline-block !important;
  padding: 2px 10px;
  width: auto !important;
}
.oh-text-blue.text-decoration-underline:hover {
  background: #0b78b2;
  color: #fff !important;
}
.oh-text-blue.text-decoration-underline a:hover {
  color: #fff !important;
}
.excel-align .dt-buttons {
  float: right;
  margin-bottom: 5px;
}
table.customize-table td,
table.customize-table th {
  padding: 8px 10px;
  font-size: 13px;
  line-height: 13px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .highcharts-figure-pie {
    min-width: 300px !important;
    max-width: 300px !important;
  }
  .highcharts-figure-ofc-aerial {
    min-width: 300px !important;
    max-width: 300px !important;
  }
}

.max-width {
  max-width: 100% !important;
}
.f-w600 {
  font-weight: 600;
}
.text-center-row > th,
.text-center-row > td {
  text-align: center !important;
  font-weight: 600 !important;
}
thead tr:first-child td {
  font-weight: 600 !important;
  text-align: center !important;
}
thead tr th {
  font-weight: 600 !important;
  text-align: center !important;
}
thead tr td {
  font-weight: 600;
  text-align: center !important;
}

.table tfoot th {
  font-weight: 600;
  color: #121212;
}
.fwbold td {
  font-weight: 600 !important;
  color: #121212;
}
.fwlight td {
  font-weight: 600 !important;
}
.hidden {
  display: none;
}
.hidden1 {
  padding-top: 45px !important;
}
/*
.table>thead {
    vertical-align: bottom;
    --bs-table-bg: #0b78b2;
    border-color: #ffffff;
    color: #fff;
}
*/
.page-titles .text-themecolor {
  color: #40286a;
  font-weight: 600;
}
.table-sm td,
th {
  padding: 8px 10px !important;
}

div#DataTables_Table_0_wrapper {
  margin: 0 !important;
}

.filter-flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.filter-flex .form-select {
  width: 120px;
  padding: 0.375rem 1.85rem 0.175rem 0.75rem;
}
select.form-select {
  -webkit-appearance: menulist;
}
.w-80 {
  width: 60%;
}
